@import "../../constants";

.navigation {
  @include flexbox-row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.numeric-buttons {
  margin: 0 1.2vw;
}

.navigation-button {
  @include white-theme;
  font-size: 1rem;
  border: 2px solid #e5e5e5;
  border-radius: $db-radius;
  padding: 15px;
  margin: 0.4vw;
}

.navigation-button-active {
  @include blue-theme;
  font-size: 1rem;
  border: 2px solid $mainblue;
  border-radius: $db-radius;
  padding: 15px;
}

@media (max-width: 1028px) {
  .navigation {
    margin: 20px;
  }
  .navigation-button,
  .navigation-button-active {
    padding: 10px;
    font-size: calc(2vw + 5px);
  }
}