.navigation {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.numeric-buttons {
  margin: 0 1.2vw;
}

.navigation-button {
  color: #3A80BA;
  background: #fff;
  font-size: 1rem;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding: 15px;
  margin: 0.4vw;
}

.navigation-button-active {
  background: #3A80BA;
  color: #fff;
  font-size: 1rem;
  border: 2px solid #3A80BA;
  border-radius: 8px;
  padding: 15px;
}

@media (max-width: 1028px) {
  .navigation {
    margin: 20px;
  }
  .navigation-button,
  .navigation-button-active {
    padding: 10px;
    font-size: calc(2vw + 5px);
  }
}