@import "../../constants";

.stats-footer {
  @include flexbox-row;
  @include darkblue-theme;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 55px;
  & p {
    @include p-font;
  }
  & h3 {
    @include h3-font;
  }
}