.logo {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(90.95deg, #255D8B 2.29%, #387cb5 96.79%);
  ;
  & a {
    text-decoration: none;
    color: #fff;
    font-size: 2.25rem;
  }
}