@import "../../constants";

p.description {
  color: #7e7e7e;
}

.header {
  color: #fff;
  position: relative;
  height: 700px;
  background: url("../../assets/images/header-bg.svg");
  background-size: cover;
  & h2 {
    padding-top: 3.5rem;
    width: 50%;
    font-size: 3.5vw;
    font-weight: normal;
  }
  & p {
    @include p-font;
    margin-top: 2rem;
    width: 50%;
  }
  & button {
    @include blue-theme;
    margin-top: 2rem;
    font-size: 20px;
    border: none;
    border-radius: $radius;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s;
    &:active {
      transform: scale(0.98);
    }
  }
  & span {
    font-weight: bold;
  }
}

.main {
  text-align: center;
  & p {
    @include p-font;
    margin: auto;
    width: 80%;
  }
  h3 {
    @include h3-font;
    margin: 20px auto;
    width: 40%;
    & span {
      font-weight: bold;
    }
  }
}

.images-block {
  margin: 40px 0;
  @include flexbox-row;
}

.image-block-item {
  width: 30%;
  border-radius: 2rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  padding: 2rem 2.5vw;
  & p {
    @include p-font;
  }
  h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

.phone-outer {
  position: absolute;
  top: 7%;
  right: 10%;
  & img {
    width: 350px;
  }
}

.footer {
  position: relative;
  @include blue-theme;
  height: 200px;
  background: url("../../assets/images/footer-bg.svg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  & h3 {
  @include h3-font;
  }
}

.footer form {
  text-align: center;
  padding: 50px;
}

.footer .form-inputs {
@include flexbox-row;
  width: 45%;
  height: 55px;
  background: #fff;
  border-radius: $db-radius;
  margin: auto;
  & input[type="text"] {
    height: 90%;
    width: 68%;
    border: none;
    border-radius: $db-radius;
    padding-left: 10px;
  }
  & button[type="submit"] {
    height: 90%;
    width: 30%;
    @include blue-theme;
    border: none;
    border-radius: $db-radius;
  }
}

@media (max-width: 1025px) {
  .header {
    height: 550px;
  }

  .phone-outer img {
    width: 300px;
  }

  .main h3 {
    width: 60%;
  }

  .main p {
    width: 85%;
  }

  .image-block-item {
    padding: 2rem 0;
  }

  .footer .form-inputs {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    height: 340px;
    & h2 {
      padding-top: 2rem;
    }
    & p {
      margin-top: 1.5rem;
      width: 55%;
    }
    & button {
      margin-top: 1.5rem;
      font-size: 1rem;
      padding: 15px;
    }
  }

  .image-block-item {
    padding: 1rem 0;
    & img {
      width: 65%;
    }
    & h4 {
      font-size: 3vw;
      margin: 0.5rem 0;
    }
  }
  .phone-outer {
    right: 5%;
    & img {
      width: 200px;
    }
  }

  .footer form {
    text-align: center;
    padding: 50px 0;
    & .form-inputs {
      height: 50px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    height: 260px;
    & h2 {
      width: 100%;
      font-size: 5vw;
      font-weight: normal;
      padding-top: 1rem;
    }
    & p {
      padding-top: 0.5rem;
      width: 90%;
      margin: 10px 0;
    }
  }

  .main {
    & h3 {
      margin: 10px auto;
    }
  }

  .image-block-item {
    padding: 0.5rem;
    border-radius: 1rem;
    & p {
      width: 90%;
    }
  }

  .phone-outer img {
    display: none;
  }

  .footer form .form-inputs {
    height: 50px;
    margin-top: 20px;
    width: 85%;
  }
}